*{
    margin: 0;
}
.bg-grey{
    background-color: #E0E0E0;
}
.mission_name{
    color: blue;
    font-weight: 800;
}
.filter-header{
    display: block;
    text-align: center;
    border-bottom: 1px solid gray;
}
.f1{
    font-size: 2rem;
}
.br-8{
    border-radius: 8px;
}
.active{
    background-color: #006400;
}
// .btn{
//     background-color: #9ACD32;
// }
